body {
    background-color: #dadada;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #878787;
    border-radius: 10px;
    padding: 10px;
}

.post input {
    display: none;
}

.post.edit input {
    display: inline-block;
}

.sandbox {
    display: none;
}

input.ng-invalid {
    background-color: #fbc4c4;
}

.register {
   border: 1px solid #cdcdcd ;
   margin: auto;
   max-width: 800px;
   padding: 50px;
}
