<h2>Posts</h2>

<!-- <formclass="form-group">
    <input type="text" name="username" class="form-control" required>
    <input type="password" name="password" class="form-control" maxlength="5" required>
    <input type="text" name="email" class="form-control" minlength="3" required pattern="\@">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<button ng-click="postController.getPostList ()" class="btn btn-primary">Get Post List</button>
-->

<!-- List out the post objects -->
<ul>
    <li ng-repeat="post in postController.postList">
        <div class="post">
            <div>
                <strong>title:</strong> {{ post.title }}
                <strong>description:</strong> {{ post.description }}
                <strong>author:</strong> {{ post.author }}


                <button ng-click="postController.deletePost (post.id)" class="btn">Delete Post</button>
                <button ng-click="postController.editPost (post.id)" class="btn">Edit Post</button>
            </div>
        </div>
    </li>
</ul>

<!--<button ng-click="postController.getPost ()" class="btn">Get A Single Post</button>
<button ng-click="postController.getPost (1)" class="btn">Get Post 1</button>
<button ng-click="postController.getPost (2)" class="btn">Get Post 2</button>
<button ng-click="postController.getPost (3)" class="btn">Get Post 3</button>


<!-- Show the details of the currently selected item.
<div>
    <strong>title:</strong> {{ postController.currentPost.title }}
    <strong>description:</strong> {{ postController.currentPost.description }}
    <strong>author:</strong> {{ postController.currentPost.author }}
</div>
-->



<form ng-submit="postController.save ()" class="form-group">
    <h3>New Post</h3>
    <label>Title:</label>
    <input name="title" ng-model="postController.postObject.title"> <br>
    <label>Description:</label>
    <input name="description" ng-model="postController.postObject.description"> <br>
    <label>Author:</label>
    <input name="author" ng-model="postController.postObject.author"> <br>
    <button type="submit" class="btn btn-primary">Save Post</button>
</form>
